In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
veriler=pd.read_csv("veriler.csv")

In [3]:
eksikVeriler=pd.read_csv("eksikveriler.csv")

In [4]:
yeniVeri=eksikVeriler.fillna(eksikVeriler["yas"].mean())

In [5]:
eksikVeriler

   ulke  boy  kilo   yas cinsiyet
0    tr  130    30  10.0        e
1    tr  125    36  11.0        e
2    tr  135    34  10.0        k
3    tr  133    30   9.0        k
4    tr  129    38  12.0        e
5    tr  180    90  30.0        e
6    tr  190    80  25.0        e
7    tr  175    90  35.0        e
8    tr  177    60  22.0        k
9    us  185   105  33.0        e
10   us  165    55  27.0        k
11   us  155    50  44.0        k
12   us  160    58   NaN        k
13   us  162    59  41.0        k
14   us  167    62  55.0        k
15   fr  174    70  47.0        e
16   fr  193    90   NaN        e
17   fr  187    80  27.0        e
18   fr  183    88  28.0        e
19   fr  159    40  29.0        k
20   fr  164    66  32.0        k
21   fr  166    56  42.0        k

In [54]:
yeniVeri.isnull().sum()
Yas=yeniVeri["yas"]

In [ ]:
from sklearn import preprocessing

labelEnc = preprocessing.LabelEncoder()

ulke=veriler.iloc[:,0:1].values
ulke1=veriler["ulke"].values  

ulke[:,0]=labelEnc.fit_transform(veriler.iloc[:,0])
oneHotEnc = preprocessing.OneHotEncoder()
ulke=oneHotEnc.fit_transform(ulke).toarray()

In [47]:
sonuc=pd.DataFrame(data=ulke,index=range(22),columns=["fr","tr","us"])

In [55]:
sonuc2=pd.DataFrame(data=yeniVeri,index=range(22),columns=["boy","kilo","yas"])

In [57]:
cinsiyet=veriler.iloc[:,-1].values

In [59]:
sonuc3=pd.DataFrame(data=cinsiyet,index=range(22),columns=["cinsiyet"])

In [68]:
sonVeri=pd.concat([sonuc,sonuc2,sonuc3],axis=1)

In [70]:
sonVeri

     fr   tr   us  boy  kilo    yas cinsiyet
0   0.0  1.0  0.0  130    30  10.00        e
1   0.0  1.0  0.0  125    36  11.00        e
2   0.0  1.0  0.0  135    34  10.00        k
3   0.0  1.0  0.0  133    30   9.00        k
4   0.0  1.0  0.0  129    38  12.00        e
5   0.0  1.0  0.0  180    90  30.00        e
6   0.0  1.0  0.0  190    80  25.00        e
7   0.0  1.0  0.0  175    90  35.00        e
8   0.0  1.0  0.0  177    60  22.00        k
9   0.0  0.0  1.0  185   105  33.00        e
10  0.0  0.0  1.0  165    55  27.00        k
11  0.0  0.0  1.0  155    50  44.00        k
12  0.0  0.0  1.0  160    58  28.45        k
13  0.0  0.0  1.0  162    59  41.00        k
14  0.0  0.0  1.0  167    62  55.00        k
15  1.0  0.0  0.0  174    70  47.00        e
16  1.0  0.0  0.0  193    90  28.45        e
17  1.0  0.0  0.0  187    80  27.00        e
18  1.0  0.0  0.0  183    88  28.00        e
19  1.0  0.0  0.0  159    40  29.00        k
20  1.0  0.0  0.0  164    66  32.00        k
21  1.0  0.0  0.0  166    56  42.00        k

In [92]:
from sklearn.model_selection import train_test_split
y=sonVeri["cinsiyet"]
x=sonVeri.drop(["cinsiyet"],axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=0)

In [94]:
x_train

     fr   tr   us  boy  kilo    yas
8   0.0  1.0  0.0  177    60  22.00
6   0.0  1.0  0.0  190    80  25.00
16  1.0  0.0  0.0  193    90  28.45
4   0.0  1.0  0.0  129    38  12.00
2   0.0  1.0  0.0  135    34  10.00
5   0.0  1.0  0.0  180    90  30.00
17  1.0  0.0  0.0  187    80  27.00
9   0.0  0.0  1.0  185   105  33.00
7   0.0  1.0  0.0  175    90  35.00
18  1.0  0.0  0.0  183    88  28.00
3   0.0  1.0  0.0  133    30   9.00
0   0.0  1.0  0.0  130    30  10.00
15  1.0  0.0  0.0  174    70  47.00
12  0.0  0.0  1.0  160    58  28.45

In [95]:
x_test

     fr   tr   us  boy  kilo   yas
20  1.0  0.0  0.0  164    66  32.0
10  0.0  0.0  1.0  165    55  27.0
14  0.0  0.0  1.0  167    62  55.0
13  0.0  0.0  1.0  162    59  41.0
1   0.0  1.0  0.0  125    36  11.0
21  1.0  0.0  0.0  166    56  42.0
11  0.0  0.0  1.0  155    50  44.0
19  1.0  0.0  0.0  159    40  29.0

In [99]:
y_train.count()

np.int64(14)

In [98]:
y_test.count()

np.int64(8)

In [100]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

X_train=scaler.fit_transform(x_train)
X_test=scaler.fit_transform(x_test)